<table>
  <tr>
    <th style="width: 30%;">Preview</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><img src="/images/project1.jpg" width="200px" alt="Project 1"></td>
    <td>
      <h3>Project Title</h3>
      <p>This is a detailed description of the project. You can use standard HTML tags here for <b>bold</b> text or links.</p>
    </td>
  </tr>
  <tr>
    <td><img src="/images/project2.jpg" width="200px" alt="Project 2"></td>
    <td>
      <h3>Another Project</h3>
      <p>Brief description of what you did in this project.</p>
    </td>
  </tr>
</table>
